
/*
    1. 배경이미지를 넣어보세요.

    2. header 영역을 만들어보세요.

    3. gnb 영역을 만들어보세요.

    4. li a에 마우스를 올리면 border의 아래 색상이
    #222가 되게 만들어보세요.

    5. 컨텐츠 영역을 만들어보세요.

*/
body, h1, ul, h2, p, header, section, nav {
    margin: 0;
    padding: 0;
} 

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#333;
}

img {
    vertical-align: bottom;
}


/*
    1. 배경이미지를 넣어보세요.

    2. header 영역을 만들어보세요.

    3. gnb 영역을 만들어보세요.

    4. li a에 마우스를 올리면 border의 아래 색상이
    #222가 되게 만들어보세요.

    5. 컨텐츠 영역을 만들어보세요.

*/

body {
    background-image: url('images/bg.png');
    background-attachment: fixed;
}

.header {
    background: #151515;
    height: 400px;
    line-height: 400px;
    text-align: center;

    color:#807776;
    font-family: Fredoka, 'sans serif';
    font-weight: 700;
    overflow:hidden;
    
}

.header h1 {
    font-size:200px;
    letter-spacing: -20px;
    word-spacing: 200px;
    white-space: nowrap; /* 글자 줄바꿈 없어지게 */
}

.header .point {
    position: relative;
    top:0;
}