@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body, h1, ul, h2, p, header, section, nav {
    margin: 0;
    padding: 0;
} 

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#333;
}

img {
    vertical-align: bottom;
}


/*
    1. 배경이미지를 넣어보세요.

    2. header 영역을 만들어보세요.

    3. gnb 영역을 만들어보세요.

    4. li a에 마우스를 올리면 border의 아래 색상이
    #222가 되게 만들어보세요.

    5. 컨텐츠 영역을 만들어보세요.

*/

body {
    background-image: url('images/bg.png');
    background-attachment: fixed;
}

/*****************************
HEADER
******************************/

.header {
    background: #151515;
    height: 400px;
    line-height: 400px;
    text-align: center;

    color:#807776;
    font-family: Fredoka, 'sans serif';
    font-weight: 700;
    overflow:hidden;
    
}

.header h1 {
    font-size:200px;
    letter-spacing: -20px;
    word-spacing: 200px;
    white-space: nowrap; /* 글자 줄바꿈 없어지게 */
}

.header .point {
    position: relative;
    top:0;
}

/*****************************
nav
******************************/

.gnb-wrapper {
    background-color: rgba(0,0,0,0.7);
    /* opacity:0.7; */

    padding:20px 0;
    text-align:center;
}

.gnb {
    display:inline-block;
    background-color: #807776;
    overflow:hidden;

    padding:0 20px;
    border-radius: 30px;
}

.gnb li {
    float:left;
}

.gnb li a {
    display:block;
    padding:0 20px;
    height: 50px;
    line-height: 50px;
    /* box-sizing: border-box; */
    border:5px solid transparent;
}

.gnb li a:hover {
    border-bottom:5px solid #222;
}

/*****************************
Section
******************************/

.grid {
    width:960px;
    display:flex;
    flex-flow:wrap;
    margin: 100px auto;

    justify-content: space-between;
    row-gap:40px;
}

.grid li {
    /* background-color: red; */
    width:300px;
}

.grid li:nth-child(2),
.grid li:nth-child(5),
.grid li:nth-child(8) {
    position:relative;
    top:-50px;
}

.grid li .container {
    background-color: #93572e;
    border-bottom:10px solid #4b260a;
    border-radius:20px;
    /* padding:20px; */
    overflow: hidden;
}

.grid li .container:before {
    content:'';
    display:block;
    height: 50px;
    background-image: url('images/ac-top.png');
}

.grid li .container h2 {
    color:#fff;
    margin: 20px;
}

.grid li .container p {
    color:rgba(255,255,255,0.5);
    margin: 20px;
}